.venv/
/coconut_full/*.csv
/coconut_full/*.tsv
/coconut_full/coconut_plants/*.csv
/coconut_full/coconut_plants/*.tsv
/wcvp_dwca/
/lotus/maven_docker_stuff
/lotus/NPOC2021
/lotus/LOTUSlatest.zip
/lotus/*.csv
/lotus/*.json
/testing_compound_normalizer/coconut_test.csv
/testing_compound_normalizer/wand_test.csv
